<section id="container" class="">
    <!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <!--overview start-->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa-laptop"></i> Dashboard</h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="dashboard.html">Home</a></li>
                    <li><i class="fa fa-laptop"></i>Dashboard</li>
                </ol>
            </div>
        </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="info-box green-bg">

                        <i class="fa fa-user"></i>
                        <div class="count"></div>
                        <div class="title"> <a class="dropdown-item" href="manage-user.html" style="font-weight: bold; font-size: 18px;">Total User : @ViewBag.UserCount</a></div>
                    </div>
                    <!--/.info-box-->
                </div>
                <!--/.col-->

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="info-box pink-bg">

                        <i class="fas fa-th-large"></i>
                        <div class="count"></div>
                        <div class="title"> <a class="dropdown-item" href="category.html" style="font-weight: bold; font-size: 18px;">Total Category: @ViewBag.CatCount</a></div>
                    </div>
                    <!--/.info-box-->
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="info-box yellow-bg">

                        <i class="far fa-edit"></i>
                        <div class="count"></div>
                        <div class="title"> <a class="dropdown-item" href="arts.html" style="font-weight: bold; font-size: 18px;">Total Arts: @ViewBag.ArtCount</a></div>
                    </div>
                    <!--/.info-box-->
                </div>
                <!--/.col-->
                <!--/.col-->


            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="info-box purple-bg">
                        <i class="fas fa-file-alt"></i>
                        <div class="count"></div>
                        <div class="title"> <a class="dropdown-item" href="orders.html" style="font-weight: bold; font-size: 18px;">Total Orders: @ViewBag.OrderCount</a></div>
                    </div>
                    <!--/.info-box-->
                </div>
                <!--/.col-->

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="info-box brown-bg">

                        <i class="fa fa-file-alt"></i>
                        <div class="count"></div>
                        <div class="title"> <a class="dropdown-item" href="" style="font-weight: bold; font-size: 18px;">Feedback: @ViewBag.FeedCount</a></div>
                    </div>
                    <!--/.info-box-->
                </div>
                <!--/.col-->

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="info-box dark-bg">

                        <i class="far fa-handshake"></i>
                        <div class="count"></div>
                        <div class="title"> <a class="dropdown-item" href="payment.html" style="font-weight: bold; font-size: 18px;">Total Payment</a></div>
                    </div>
                    <!--/.info-box-->
                </div>
                <!--/.col-->


            </div>
</section>
</section>
</section>