@model ProductTb

<!-- container section start -->
<section id="container" class="container">


    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header"><i class="fa fa-user-md"></i> Update Product</h3>
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home"></i><a href="@Url.Action("index","admin")">Home</a></li>
                        <li><i class="icon_documents_alt"></i>Manage Product</li>
                        <li><i class="fa fa-user-md"></i>Update Product</li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <!-- profile-widget -->
                <!-- page start-->
                <div class="row">
                    <div class="col-lg-12">
                        <section class="panel">
                            <header class="panel-heading tab-bg-info">
                                <ul class="nav nav-tabs">


                                    <li class="">
                                        <a data-toggle="tab" href="#edit-profile">
                                            <i class="icon-envelope"></i>
                                            Update Product
                                        </a>
                                    </li>
                                </ul>
                            </header>
                            <div class="panel-body">
                                <div>
                                    <div id="edit-profile" class="tab-pane">
                                        <section class="panel">
                                            <div class="panel-body bio-graph-info">
                                                <h1> Product Info</h1>
                                                <form class="form-horizontal" role="form" method="post"  enctype="multipart/form-data">

                                                    <div class="form-group">

                                                        <div class="col-lg-6">
                                                            <input class=" form-control" id="adminname" name="product_id" type="hidden" value="@Model.product_id">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-lg-2 control-label">Product Name</label>
                                                        <div class="col-lg-6">
                                                            <input class=" form-control" id="adminname" name="product_name" type="text" value="@Model.product_name">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-lg-2 control-label">Product Price</label>
                                                        <div class="col-lg-6">
                                                            <input class="form-control " id="contactnumber" name="product_price" type="text" value="@Model.product_price">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-lg-2 control-label">Product Description</label>
                                                        <div class="col-lg-6">
                                                            <input class="form-control " id="email" name="product_description" type="text" value="@Model.product_description">
                                                        </div>
                                                    </div>
                                                   @*  <div class="form-group">
                                                        <label class="col-lg-2 control-label">Product Category</label>
                                                        <div class="col-lg-6">
                                                            <input class="form-control " id="email" name="cat_id" type="text" value="@Model.cat_id">
                                                        </div>
                                                    </div> *@
                                                    @Html.Partial("CategoryDropdown",ViewData["category"])
                                                    <div class="form-group">
                                                        @* <label class="col-lg-2 control-label">Product Image</label> *@
                                                        <div class="col-lg-6">
                                                            <input class=" form-control" id="adminimage" name="product_image" type="hidden" value="@Model.product_image">
                                                            <br />
                                                            <br />
                                                           @*  <img src="@("~/product_images/"+Model.product_image)" asp-append-version="true" style="width:250px; height:250px;"/> *@
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-lg-offset-2 col-lg-10">
                                                            <button type="submit" class="btn btn-primary" value="Update Product" name="submit">Update</button>

                                                        </div>
                                                    </div>
                                                </form>
                                                <form class="form-horizontal" role="form" method="post" asp-action="ChangeProductImage" enctype="multipart/form-data">
                                                    <div class="form-group">

                                                        <div class="col-lg-6">
                                                            <input class=" form-control" id="adminname" name="product_id" type="hidden" value="@Model.product_id">
                                                            <input class="form-control " id="email" name="product_name" type="hidden" value="@Model.product_name">
                                                            <input class=" form-control" id="adminname" name="product_price" type="hidden" value="@Model.product_price">
                                                            <input class="form-control " id="contactnumber" name="product_description" type="hidden" value="@Model.product_description">
                                                            <input class="form-control " id="contactnumber" name="cat_id" type="hidden" value="@Model.cat_id">

                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-lg-2 control-label">Product Image</label>
                                                        <div class="col-lg-6">
                                                            <input class=" form-control" id="adminimage" name="product_image" type="file" value="">
                                                            <br />
                                                            <img src="@("~/product_images/"+Model.product_image)" asp-append-version="true" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-lg-offset-2 col-lg-10">
                                                            <button type="submit" class="btn btn-primary" value="Change Profile" name="submit">Change Image</button>

                                                        </div>
                                                    </div>
                                                </form>

                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <!-- page end-->
        </section>
    </section>
    <!--main content end-->

</section>




